#hero {
    height: 300px;
    background-image: url("../hero_bkg.png");
    background-size: cover;
    background-position: center -70px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    #avatar {
        max-width: 10%;
        border-radius: 50%;
        border: 3px solid rgba(105, 105, 105, 0.5);
        filter: drop-shadow(3px 3px 10px #000000);
    }
    #name {
        padding: 5px;
        color: rgb(224, 224, 224);
        border-radius: 10px;
        background-color: rgba(71, 71, 71, 0.6);
        filter: drop-shadow(3px 3px 4px #000000);
    }
}
nav {
    position: relative;
    display: flex;
    background-color: #242424;
    border-bottom: 3px solid rgba(112, 112, 112, 0.3);
    align-items: center;

    #navbar {
        position: relative;

        font-size: medium;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 9px;
        padding-left: 15px;
        gap: 25px;
        .navitem {
            cursor: pointer;
        }
        a {
            color: rgb(209, 209, 209);
            text-decoration: none;
        }
        .navitem.active a {
            color: azure;
            font-weight: bolder;
        }
        .underline {
            position: absolute;
            height: 4px;
            border-radius: 2px;
            background-color: rgb(46, 154, 255);
            transition: left 0.3s ease, width 0.3s ease;
        }
    }
    #links {
        position: absolute;
        right: 20px;
        display: flex;
        a {
            display: flex;
            align-items: center;
        }
    }
}
