@import "./base.css";

@import url("https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&family=Noto+Sans+SC:wght@100..900&display=swap");

#app {
    --app_font: "Moderustic", "Noto Sans SC", sans-serif;
    font-family: var(--app_font);
    display: flex;
    flex-direction: column;
    justify-items: start;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-weight: normal;

    .push_button {
        font: var(--app_font);
        color: aliceblue;
        background-color: rgb(129, 129, 129);
        border: 3px solid transparent;
        border-radius: 5px;
        transition: border-color 0.25s, background-color 0.25s, opacity 0.2s;
    }
    .push_button:hover {
        background-color: rgb(88, 88, 88);
        border: 3px solid rgb(111, 134, 187);
        filter: drop-shadow(3px 3px 4px rgb(85, 85, 87));
    }
    .push_button:active {
        background-color: rgb(36, 36, 36);
    }
    /* 未访问的链接 */
    a:link {
        color: #66ccff; /* 浅蓝色 */
    }

    /* 已访问的链接 */
    a:visited {
        color: #9999ff; /* 浅紫色 */
    }

    /* 悬停时 */
    a:hover {
        color: #ffffff; /* 白色 */
    }

    /* 按下时 */
    a:active {
        color: #ff6600; /* 橙色 */
    }
    code {
        font-family: "Consolas";
    }
}

@media (min-width: 1024px) {
}
